;;; Do not run pip install -r on this file, let the installer handle it.
;;; Every line will be executed like [package package package];[args];[condition];[comment].
;;; If there's no condition, always install.
torch==2.0.1 torchvision torchaudio;--index-url https://download.pytorch.org/whl/cu117;windows
torch==2.0.1 torchvision torchaudio;;not windows
transformers
diffusers
gradio
audio2numpy
git+https://github.com/suno-ai/bark.git@6921c9139a97d0364208407191c92ec265ef6759
soundfile;;windows
sox;;not windows
audiolm-pytorch==1.2.9
joblib
fairseq

praat-parselmouth>=0.4.2
pyworld>=0.3.2
faiss-cpu==1.7.3
torchcrepe==0.0.20
ffmpeg-python>=0.2.0
noisereduce
librosa
git+https://github.com/facebookresearch/demucs#egg=demucs

TTS
pytube

openai-whisper

git+https://github.com/facebookresearch/audiocraft.git