;;; Do not run pip install -r on this file, let the installer handle it.
;;; Every line will be executed like [package package package];[args];[condition];[comment].
;;; If there's no condition, always install.
torch==2.0.0 torchvision==2.0.0 torchaudio==2.0.0;--index-url https://download.pytorch.org/whl/cu117;windows
torch==2.0.0 torchvision==2.0.0 torchaudio==2.0.0;;not windows
transformers
diffusers
gradio
audio2numpy
bark==0.1.5
soundfile;;windows
sox;;not windows
TTS
denoiser
audiolm-pytorch